<h1><%= @user.name %>'s Library</h1>
<h3>Rating: <%= @user.average_rating %></h3>
<div class="row">
  <br>
  <% @user.copies.each do |copy| %>
    <div class="col-md-2 shadow p-3 mb-5 bg-white" >
      <%= render partial: "copies/book_view", locals: {copy: copy} %>
    </div>
  <% end %>
</div>

