<a href="<%=copy_path(lending.copy)%>"><img src="<%=lending.copy.book.cover_img%>"" class="rounded d-block img-thumbnail mr-md-6"></a>
<br>
<strong><%=lending.copy.book.name %></strong><br>
Author: <%=lending.copy.book.author%>
