<div>
  <h2>Open book requests from friends</h2>
  <div class="row">
    <% current_user.requested_lendings.each do |lending| %>
      <div class="col-md-2 shadow p-3 mb-5 bg-white" >
      <%= render partial: "book_view", locals: {lending: lending} %>
    </div>
    <% end %>
  </div>
</div>

<div>
<h2>Books currently lended to friends</h2>
<div class="row">
<% current_user.active_lendings.each do |lending| %>
  <div class="col-md-2 shadow p-3 mb-5 bg-white" >
    <%= render partial: "book_view", locals: {lending: lending} %>
    Borrower: <%= link_to lending.borrower.name, user_path(lending.borrower) %><br>
    Due Date: <%= lending.formatted_due_date %>
  </div>
<% end %>
</div>
</div>






